
@{
    ViewData["Title"] = "MainPage";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<main>

    <!-- Our Story Start -->
    <div class="Our-story-area story-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="story-img mb-100">
                        <img src="assets/img/our_story/story-img.jpg" class="story-imges" alt="">
                        <!-- shape flower -->
                        <div class="shape-flower-img">
                            <img src="assets/img/our_story/flower_top.png" class="flower-top" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="story-caption">
                        <img src="assets/img/our_story/flower_right.png" alt="">
                        <h3>Our Story</h3>
                        <p class="story1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="story2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- shape -->
        <div class="shape-flower d-none d-xl-block">
            <img src="assets/img/our_story/shape_left.png" class="flower1" alt="">
            <img src="assets/img/our_story/shape_right.png" class="flower2 " alt="">
        </div>
    </div>
    <!-- Our Story Ende -->
    <!-- Services Area Start-->
    <div class="service-area ">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="singl-services text-center mb-60">
                        <div class="top-caption">
                            <h4>Rehearsal Dinner</h4>
                            <p>July 20, 2020</p>
                        </div>
                        <div class="services-img">
                            <img src="assets/img/service/service1.png" alt="">
                            <div class="back-flower">
                                <img src="assets/img/service/services_flower1.png" alt="">
                            </div>
                        </div>
                        <div class="bottom-caption">
                            <span>12:00PM-2:00PM</span>
                            <p>The Sierra Resort 14<br> Pacific Grove Monterey, CA</p>
                        </div>
                    </div>
                </div><div class="col-lg-4">
                    <div class="singl-services text-center mb-60">
                        <div class="top-caption">
                            <h4>The Ceremony</h4>
                            <p>July 20, 2020</p>
                        </div>
                        <div class="services-img">
                            <img src="assets/img/service/service2.png" alt="">
                            <div class="back-flower">
                                <img src="assets/img/service/services_flower1.png" alt="">
                            </div>
                        </div>
                        <div class="bottom-caption">
                            <span>12:00PM-2:00PM</span>
                            <p>The Sierra Resort 14<br> Pacific Grove Monterey, CA</p>
                        </div>
                    </div>
                </div><div class="col-lg-4">
                    <div class="singl-services text-center mb-60">
                        <div class="top-caption">
                            <h4>Afterparty</h4>
                            <p>July 20, 2020</p>
                        </div>
                        <div class="services-img">
                            <img src="assets/img/service/service3.png" alt="">
                            <div class="back-flower">
                                <img src="assets/img/service/services_flower1.png" alt="">
                            </div>
                        </div>
                        <div class="bottom-caption">
                            <span>12:00PM-2:00PM</span>
                            <p>The Sierra Resort 14<br> Pacific Grove Monterey, CA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End-->
    <!-- our Memories start -->
    <div class="our-memories-area section-padding2">
        <div class="container">
            <!-- section tittle -->
            <div class="row ">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <img src="assets/img/memories/section_tittle_flowre.png" alt="">
                        <h2>OUR MEMORIES</h2>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-4">
                    <div class="memory">
                        <div class="memories-img">
                            <img src="assets/img/memories/memories1.jpg" alt="">
                            <div class="menorie-icon" href="assets/img/memories/memories1.jpg">
                                <i class="ti-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="memory">
                        <div class="memories-img">
                            <img src="assets/img/memories/memories2.jpg" alt="">
                            <div class="menorie-icon" href="assets/img/memories/memories2.jpg">
                                <i class="ti-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="memory">
                        <div class="memories-img">
                            <img src="assets/img/memories/memories3.jpg" alt="">
                            <div class="menorie-icon" href="assets/img/memories/memories3.jpg">
                                <i class="ti-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="memory">
                        <div class="memories-img">
                            <img src="assets/img/memories/memories4.jpg" alt="">
                            <div class="menorie-icon" href="assets/img/memories/memories4.jpg">
                                <i class="ti-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="memory">
                        <div class="memories-img">
                            <img src="assets/img/memories/memories5.jpg" alt="">
                            <div class="menorie-icon" href="assets/img/memories/memories5.jpg">
                                <i class="ti-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="memory">
                        <div class="memories-img">
                            <img src="assets/img/memories/memories2.jpg" alt="">
                            <div class="menorie-icon" href="assets/img/memories/memories2.jpg">
                                <i class="ti-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Shape Img -->
        <div class="memories-shape d-none d-xl-block">
            <img src="assets/img/memories/left-img.png" class="memories-shape1" alt="">
            <img src="assets/img/memories/right-img.png" class="memories-shape2" alt="">
        </div>
    </div>
    <!-- our Memories End-->
    <!-- Gift Start -->
    <div class="gift-area gift-padding gift-overly" data-background="assets/img/memories/gft.jpg">
        <div class="container">
            <div class="row">
                <div class=" offset-lg-1 col-12">
                    <div class="gift-caption">
                        <h2>The Best Gift</h2>
                        <p>Will be your bresentation</p>
                        <a href="#" class="btn">R.S.V.P</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gift End -->
    <!-- Contact form Start -->
    <div class="contact-form section-padding2 fix">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                    <div class="form-wrapper">
                        <!-- section tittle -->
                        <div class="row ">
                            <div class="col-lg-12">
                                <div class="section-tittle tittle-form text-center">
                                    <img src="assets/img/memories/section_tittle_flowre.png" alt="">
                                    <h2>Are you attending?</h2>
                                </div>
                            </div>
                        </div>
                        <form id="contact-form" action="#" method="POST">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-box mb-30">
                                        <input type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-box subject-icon mb-30">
                                        <input type="Email" name="subject" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-30">
                                    <div class="select-itms">
                                        <select name="select" id="select2">
                                            <option value="">1 Guest</option>
                                            <option value="">2 Guest</option>
                                            <option value="">3 Guest</option>
                                            <option value="">4 Guest</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-box message-icon mb-30">
                                        <textarea name="message" id="message" placeholder="Your Message"></textarea>
                                    </div>
                                    <div class="submit-info">
                                        <button class="btn2" type="submit">R.S.V.P</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Shape inner Flower -->
                        <div class="shape-inner-flower">
                            <img src="assets/img/flower/form-smoll-left.png" class="top1" alt="">
                            <img src="assets/img/flower/form-smoll-right.png" class="top2" alt="">
                            <img src="assets/img/flower/form-smoll-b-left.png" class="top3" alt="">
                            <img src="assets/img/flower/form-smoll-b-right.png" class="top4" alt="">
                        </div>
                        <!-- Shape outer Flower -->
                        <div class="shape-outer-flower">
                            <img src="assets/img/flower/from-top.png" class="outer-top" alt="">
                            <img src="assets/img/flower/from-bottom.png" class="outer-bottom" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact form End -->
    <!-- ================ Map ================= -->
    <section class="contact-sections">
        <div class="d-area">
            <div id="map" style="height: 500px; position: relative; overflow: hidden;"></div>
            <script>
                function initMap() {
                    var uluru = {
                        lat: -25.363,
                        lng: 131.044
                    };
                    var grayStyles = [{
                        featureType: "all",
                        stylers: [{
                            saturation: -90
                        },
                        {
                            lightness: 50
                        }
                        ]
                    },
                    {
                        elementType: 'labels.text.fill',
                        stylers: [{
                            color: '#ccdee9'
                        }]
                    }
                    ];
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: -31.197,
                            lng: 150.744
                        },
                        zoom: 9,
                        styles: grayStyles,
                        scrollwheel: false
                    });
                }</script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&amp;callback=initMap"></script>
        </div>
    </section>
    <!-- ================ Map ================= -->

    <div class="brand-area section-padding2">
        <div class="container">
            <!-- section tittle -->
            <div class="row ">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <img src="assets/img/memories/section_tittle_flowre.png" alt="">
                        <h2>OUR LOVELY PARTNERS</h2>
                    </div>
                </div>
            </div>
            <div class="brand-active brand-border">
                <div class="single-brand">
                    <img src="assets/img/service/brand1.jpg" alt="">
                </div>
                <div class="single-brand">
                    <img src="assets/img/service/brand2.jpg" alt="">
                </div>
                <div class="single-brand">
                    <img src="assets/img/service/brand3.jpg" alt="">
                </div>
                <div class="single-brand">
                    <img src="assets/img/service/brand4.jpg" alt="">
                </div>
                <div class="single-brand">
                    <img src="assets/img/service/brand5.jpg" alt="">
                </div>
                <div class="single-brand">
                    <img src="assets/img/service/brand3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</main>
